<span id="inlineEditMenuTemplate" class="wpthemeMenu"
    data-positioning-handler="horizontallyCenteredBelow">
    <div>
        <ul role="menu" class="wpthemeMenuInlineList wpthemeTemplateMenu">
            <li tabindex="-1" role="menuitem" class="${css-class}"><span class="wpthemeMenuText">${title}</span></li>
        </ul>
        <div class="horizontalMenuPointer pointer"></div>
    </div>
    <div class="wpthemeMenuLoading wpthemeTemplateLoading">${loading}</div>
    <div>Test inline edit menu..</div>
</span>