.mydev {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 3px solid;
  font: normal 30px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #349833;
}